
/* με ψευδομεταβλητές της CSS οριζώ την βασική παλέττα χρωμάτων που θα χρήσιμοποιηθεί σε όλες τις ιστοσελίδες */
:root {
    --main-bg-color: #333333;
    --main-text-color: rgba(255, 255, 255, 0.888);
    --alert-color: red;
    --btn-text-color: #F8EDE3;
    --hyperlink-text-color: rgb(0, 123, 255);
    --green-success-color: rgb(10, 208, 119);
    --icon-hover-color: rgb(255, 248, 105);
    --grey-color: #999;
  }

  *::before,
  *::after 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    font-size: 1.26rem;
    font-family: "Helvetica Neue",Helvetica,Arial;
    background: var(--main-bg-color);   
    color: var(--main-text-color);
}

div{
    margin: 20px;
}

p{
    font-size: smaller;
    font-weight: lighter;
    margin: 20px !important;
    padding: 5px;
    text-align: left;
}

#container{
    height: 90vh;
    max-width: 100%;
    
}
nav,ul,li{
    display: flex;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    color: var(--btn-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li{
    float: left;
}

a{ 
    color: var(--hyperlink-text-color);
    text-decoration: none;
}

a:hover{ 
    text-decoration: underline;
    color: var(--main-bg-color);
}


table,tr,td{
    margin: 0 auto;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: smaller;
    font-weight: lighter;
}

table {
  border: 4px solid var(--hyperlink-text-color);
  border-radius: 20px;
  padding: 15px;
}

table tr:hover{
  background-color: var(--btn-text-color) ;
  transform: translateX(1px);
  cursor: pointer;
  transition: all 200ms ease-in;
  color: var(--main-bg-color);
  border: none;

}

footer{
  top: 100vh;
  display: block;
  position: relative;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background:var(--grey-color);
  text-align: center;
  padding: 5px;
}

input,label{
    padding: 15px;
    margin: 10px 5px;
    display: block;
    border: none;
    text-align: center;
    width: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
    font-size: smaller;
    text-align: center;
    font-weight: 700;
    color: var(--grey-color);
    opacity: 1;
  }

  input[type="number"]:focus{
    outline: none;
    border: 5px solid var(--hyperlink-text-color);
  }
  input:required + span:after , input:invalid + span:after {
    content: "*";
  }

  input:required:valid {
    border: 5px solid var(--green-success-color);
    background:var(--green-success-color);
  }

  input:invalid {
    border: 2px solid var(--alert-color);
    color: var(--alert-color);
    opacity: 0.9;
  }

  input:valid + span:after{ 
    content: 'Σωστά🙂';
    color: var(--green-success-color); 
    position: relative;
  }

  input:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% var(--green-success-color);
    background-size: 25px;
    border: 2px solid var(--green-success-color);

  }


  input:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% rgb(255, 215, 215);;
    background-size: 25px;
    border: 2px solid var(--alert-color);

  }

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#solution{
    width: 45%; 
    margin: 10px 30px;
    border: 5px solid var(--hyperlink-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #0a2351;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fbfbfe' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
}
.datalabel{
    margin: 0 auto;
    color: var(--main-text-color);
    font-size: 1.0rem;
}
.row{
    display: flex;
    flex-direction: row;

}
#results{
    width: 45%;
    height: 40vh; 
    margin: 10px 30px;
    border: 5px solid var(--green-success-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#surface {
    padding: 5px;
    border-radius: 20px;
    color: var(--green-success-color);
    font-weight: 600;
    background: rgb(55, 51, 51);
}

.notification{
    text-align: center;
    margin-top: 20px;
    color: var(--alert-color);
    font-weight: lighter;
    font-size: 0.75rem;
    opacity: 0.8;   
}

.datainput{
    border-radius: 20px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    box-shadow:0 0 5px var(--hyperlink-text-color);
    transition: .5s box-shadow;
}

button {
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding: 20px;
    margin: 10px 15px;
    border: none;
    background-color: var(--hyperlink-text-color);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color:rgb(98, 98, 98);
    font-weight: 300;
    border-radius: 20px;
    width: 50%;
    transition: 200ms;
    cursor: pointer;
    font-size: 0.89rem;
    outline: none;
  }
  
  button:hover{
    background-color: var(--icon-hover-color);
    transform: translateY(-7px);
  }

  button:disabled,
  button[disabled]{
  background-color: var(--grey-color);
  color: var(--main-text-color);
  transform: none;
  opacity: 0.95;
}

  i{
    opacity: 0.8;
    transition: 200ms;
    cursor: pointer;
  }

  i:hover{
    
    transform: translateY(5px); 
    color: var(--icon-hover-color);
    opacity: 1;
  }

  span{
     margin: 0 10px;
     transform : none;
     font-size: smaller;
  }

  .resetBtn{
    z-index: 0;
    background: var(--alert-color);
    color: var(--main-text-color);
  }

  .resetBtn:hover{
    z-index: 1000;
    background: rgb(199, 81, 81);
    color: black;
  }

  .submitBtn{
    background: var(--hyperlink-text-color);
    color: var(--main-text-color);
  }

  .submitBtn:hover{
    z-index: 1000;
    color: var(--main-bg-color);
    background-color: var(--green-success-color);
  }

  select {
    border: none;
    padding: 0 1em 0 0;
    margin: 30px;
    width: 100%;
    height: 25%;
    border-radius: 15px;
    text-align: center;
    
  }
